#mobileMenu {
    max-height: 0;
    overflow: hidden;
}

#mobileMenu.show {
    max-height: 800px;
}

#navbar.mobile-menu-open {
    background-color: #161B22;
}

.navLinks {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    width: 80px;
}

.navLinks::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.navLinks:hover::after {
    width: 30%;
}


/* home */

/* #HomeSection::before {
    --line: hsl(0 0% 95% / 0.15);
    --size: 60px;
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
        linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
    mask: linear-gradient(-180deg, transparent 30%, white);
    top: -45px;
    transform-style: flat;
    pointer-events: none;
    z-index: 1;
} */

.gradient-circle {
    background: conic-gradient(from 0deg at 50% 50%, #50207e 0%, #50207e 100%);
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
    position: absolute;
    filter: blur(100px);
    opacity: 20%;
    z-index: 1; 
    top: 40vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.line {
    height: 2px;
    width: 20px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.3s ease;
}

.cross:nth-child(1) {
    transform: rotate(45deg);
}

.cross:nth-child(2) {
    transform: rotate(-45deg);
}